footer{
    text-align: center;
    background-color:antiquewhite;
}

img{
    margin: 100px;
    margin-left: 330px;
}
h2{
text-align: center;
padding-top: 50px ;
}

.budi{
    text-align: center;
}   
